#!/bin/bash

if [ -z "$DBUS_SESSION_BUS_ADDRESS" ]; then
    eval $(dbus-launch --exit-with-session --sh-syntax)
fi

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

wal -R

xrdb -merge ~/.Xresources

export QT_QTPA_PLATFORMTHEME="qt5ct" 

#picom -b &




